.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100vh;
  width: 100vw;
}

.bingo, img {
  height: 100vh;
}

.image-map__content img {
  width: revert;
}


.image-map__content {
  width: min-content;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.flex-item {
  display: block;
  flex: 0 1;
  margin: auto;
  width: min-content;
}

.image-map__content.usage-map > span {
  border: 1px solid gray;
}

.bingo-container {
  position: relative;
}

.bingo-square {
  position: absolute;
  pointer-events: none;
}